<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

  <bean id="placeholderConfig" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="properties">
      <props>
        <prop key="configuration.base.xmlFile"></prop>
        <prop key="configuration.share1.path"></prop>
        <prop key="configuration.share1.name"></prop>
        <prop key="configuration.share2.path"></prop>
        <prop key="configuration.share2.name"></prop>
        <prop key="configuration.share3.path"></prop>
        <prop key="configuration.share3.name"></prop>
        <prop key="configuration.share4.path"></prop>
        <prop key="configuration.share4.name"></prop>
        <prop key="configuration.share5.path"></prop>
        <prop key="configuration.share5.name"></prop>
        <prop key="database.timestamp.pattern"></prop>
      </props>
    </property>
    <property name="locations">
      <list>
        <value>/WEB-INF/config/database.properties</value>
        <value>/WEB-INF/config/bean.properties</value>
      </list>
    </property>
  </bean>

  <bean id="nexusTransportDispatcherMapping" class="org.nexuse2e.configuration.UpdateableUrlHandlerMapping">
    <property name="mappings">
      <value></value>
    </property>
  </bean>

  <bean id="engineController" class="org.nexuse2e.EngineController" init-method="initialize" destroy-method="shutdown">
    <property name="engineControllerStubClass" value="${engineController.stub.class}" />
    <property name="engine" ref="engine" />
    <property name="monitorAutoStart" value="true" />
  </bean>

  <bean id="baseConfigurationProvider" class="org.nexuse2e.configuration.XmlBaseConfigurationProvider">
    <constructor-arg value="${configuration.base.xmlFile}"/>
  </bean>

  <!-- Engine  -->
  <bean id="engine" class="org.nexuse2e.Engine">
    <property name="baseConfigurationProvider" ref="baseConfigurationProvider" />
    <property name="baseConfigurationProviderClass" value="${configuration.base.class}" />
    <property name="cacertsPath" value="${certificate.keystorePath.ca}" />
    <property name="certificatePath" value="${certificate.keystorePath.server}" />
    <property name="timestampPattern" value="${database.timestamp.pattern}" />
  </bean>

  <!-- RMI  -->
  <bean id="rmiServer" class="org.nexuse2e.integration.NEXUSe2eRMIServer">
    <property name="hostName" value="${rmi.hostName}" />
    <property name="interfaceName" value="${rmi.interfaceName}" />
    <property name="rmiPort" value="${rmi.rmiPort}" />
  </bean>

  <!-- Integration beans -->
  <bean id="httpIntegrationController" class="org.nexuse2e.integration.HTTPIntegrationController"></bean>
  <bean id="debugController" class="org.nexuse2e.integration.DebugController"></bean>
  <bean id="engineStatusController" class="org.nexuse2e.integration.EngineStatusController"></bean>

  <!-- ********************************************** -->
  <!-- Web services                                   -->
  <!-- ********************************************** -->

  <bean id="nexusE2EInterfaceBean" class="org.nexuse2e.integration.NEXUSe2eInterfaceImpl" />
  <bean id="engineStatusInterfaceBean" class="org.nexuse2e.integration.EngineStatusInterfaceImpl" />
  <bean id="nexuse2eUtilitiesBean" class="org.nexuse2e.integration.NEXUSe2eUtilitiesImpl" />

  <!--  DatabaseConfig -->
  <bean id="internal" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
    <property name="driverClassName" value="${database.driverClassName}" />
    <property name="url" value="${database.url}" />
    <property name="username" value="${database.user}" />
    <property name="password" value="${database.password}" />
    <property name="maxActive" value="-1" />
  </bean>

  <!-- 
    <bean id="external" class="org.springframework.jndi.JndiObjectFactoryBean">
    <property name="jndiName" value="${datasource.logicalName}"/>
    </bean>
  -->

  <bean id="hibernateSessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
    <property name="dataSource" ref="${datasource.type}" />
    <!-- <property name="dataSource" ref="external"/> -->
    <property name="useTransactionAwareDataSource" value="false" />
    <property name="mappingResources">
      <list>
        <value>org/nexuse2e/hibernate/nx_conversation.hbm.xml</value>
        <value>org/nexuse2e/hibernate/nx_message.hbm.xml</value>
        <value>org/nexuse2e/hibernate/nx_message_label.hbm.xml</value>
        <value>org/nexuse2e/hibernate/nx_message_payload.hbm.xml</value>
        <value>org/nexuse2e/hibernate/nx_participant.hbm.xml</value>
        <value>org/nexuse2e/hibernate/nx_choreography.hbm.xml</value>
        <value>org/nexuse2e/hibernate/nx_action.hbm.xml</value>
        <value>org/nexuse2e/hibernate/nx_partner.hbm.xml</value>
        <value>org/nexuse2e/hibernate/nx_component.hbm.xml</value>
        <value>org/nexuse2e/hibernate/nx_certificate.hbm.xml</value>
        <value>org/nexuse2e/hibernate/nx_connection.hbm.xml</value>
        <value>org/nexuse2e/hibernate/nx_pipelet_param.hbm.xml</value>
        <value>org/nexuse2e/hibernate/nx_follow_up_action.hbm.xml</value>
        <value>org/nexuse2e/hibernate/nx_user.hbm.xml</value>
        <value>org/nexuse2e/hibernate/nx_grant.hbm.xml</value>
        <value>org/nexuse2e/hibernate/nx_role.hbm.xml</value>
        <value>org/nexuse2e/hibernate/nx_pipeline.hbm.xml</value>
        <value>org/nexuse2e/hibernate/nx_pipelet.hbm.xml</value>
        <value>org/nexuse2e/hibernate/nx_service.hbm.xml</value>
        <value>org/nexuse2e/hibernate/nx_service_param.hbm.xml</value>
        <value>org/nexuse2e/hibernate/nx_trp.hbm.xml</value>
        <value>org/nexuse2e/hibernate/nx_log.hbm.xml</value>
        <value>org/nexuse2e/hibernate/nx_logger.hbm.xml</value>
        <value>org/nexuse2e/hibernate/nx_logger_param.hbm.xml</value>
        <value>org/nexuse2e/hibernate/nx_generic_param.hbm.xml</value>
        <value>org/nexuse2e/hibernate/nx_mapping.hbm.xml</value>
      </list>
    </property>
    <property name="hibernateProperties">
      <props>        <prop key="hibernate.show_sql">${database.showSQL}</prop>        <prop key="hibernate.dialect">${database.dialect}</prop>
        <prop key="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</prop>
        <prop key="hibernate.current_session_context_class">org.hibernate.context.ThreadLocalSessionContext</prop>       <!--
        <prop key="hibernate.c3p0.min_size">2</prop>
        <prop key="hibernate.c3p0.max_size">20</prop>
        <prop key="hibernate.c3p0.timeout">1800</prop>
        <prop key="hibernate.c3p0.max_statements">50</prop>
          <prop key="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</prop>
        -->      </props>
    </property>
  </bean>

  <bean id="logDao" class="org.nexuse2e.dao.LogDAO">
    <property name="sessionFactory" ref="hibernateSessionFactory" />
  </bean>
  <bean id="configDao" class="org.nexuse2e.dao.ConfigDAO">
    <property name="sessionFactory" ref="hibernateSessionFactory" />
  </bean>
  <bean id="transactionDao" class="org.nexuse2e.dao.TransactionDAO">
    <property name="sessionFactory" ref="hibernateSessionFactory" />
  </bean>

  <!-- ui structure -->

  <bean id="targetProviderManager" class="org.nexuse2e.ui.structure.impl.DefaultTargetProviderManager">
    <property name="targetProviders">
      <map>
        <!-- add TargetProvider intances to the map below -->
        <entry>
          <key>
            <value>serverIdentityTargetProvider</value>
          </key>
          <bean class="org.nexuse2e.ui.structure.impl.ServerIdentityTargetProvider" />
        </entry>
        <entry>
          <key>
            <value>frontendPipelineTargetProvider</value>
          </key>
          <bean class="org.nexuse2e.ui.structure.impl.PipelineTargetProvider">
            <property name="frontend">
              <value>true</value>
            </property>
          </bean>
        </entry>
        <entry>
          <key>
            <value>backendPipelineTargetProvider</value>
          </key>
          <bean class="org.nexuse2e.ui.structure.impl.PipelineTargetProvider">
            <property name="frontend">
              <value>false</value>
            </property>
          </bean>
        </entry>
        <entry>
          <key>
            <value>componentTargetProvider</value>
          </key>
          <bean class="org.nexuse2e.ui.structure.impl.ComponentTargetProvider" />
        </entry>
        <entry>
          <key>
            <value>serviceTargetProvider</value>
          </key>
          <bean class="org.nexuse2e.ui.structure.impl.ServiceTargetProvider" />
        </entry>
        <entry>
          <key>
            <value>notifierTargetProvider</value>
          </key>
          <bean class="org.nexuse2e.ui.structure.impl.NotifierTargetProvider" />
        </entry>
        <entry>
          <key>
            <value>choreographyTargetProvider</value>
          </key>
          <bean class="org.nexuse2e.ui.structure.impl.ChoreographyTargetProvider" />
        </entry>
        <entry>
          <key>
            <value>collaborationPartnerTargetProvider</value>
          </key>
          <bean class="org.nexuse2e.ui.structure.impl.CollaborationPartnerTargetProvider" />
        </entry>
        <entry>
          <key>
            <value>participantTargetProvider</value>
          </key>
          <bean class="org.nexuse2e.ui.structure.impl.ParticipantTargetProvider" />
        </entry>
        <entry>
          <key>
            <value>actionTargetProvider</value>
          </key>
          <bean class="org.nexuse2e.ui.structure.impl.ActionTargetProvider" />
        </entry>
        <entry>
          <key>
            <value>userTargetProvider</value>
          </key>
          <bean class="org.nexuse2e.ui.structure.impl.UserTargetProvider" />
        </entry>
        <entry>
          <key>
            <value>roleTargetProvider</value>
          </key>
          <bean class="org.nexuse2e.ui.structure.impl.RoleTargetProvider" />
        </entry>
      </map>
    </property>
  </bean>

  <bean id="structureService" class="org.nexuse2e.ui.structure.impl.CachedXmlStructureServer" init-method="cacheMenuStructure">
    <property name="spec">
      <value>${struct.spec}</value>
    </property>
    <property name="targetProviderManager">
      <ref bean="targetProviderManager" />
    </property>
  </bean>
  
  <!-- Configuration bean for file download feature -->
  <bean id="fileDownloadConfiguration" class="org.nexuse2e.ui.action.tools.FileDownloadConfiguration">
    <property name="configuration">
      <map>
        <entry key="${configuration.share1.path}"><value>${configuration.share1.name}</value></entry>
        <entry key="${configuration.share2.path}"><value>${configuration.share2.name}</value></entry>
        <entry key="${configuration.share3.path}"><value>${configuration.share3.name}</value></entry>
        <entry key="${configuration.share4.path}"><value>${configuration.share4.name}</value></entry>
        <entry key="${configuration.share5.path}"><value>${configuration.share5.name}</value></entry>
      </map>
    </property>
  </bean>

</beans>
