/.metadata
/nexuse2e-core/.settings
/nexuse2e-core/.classpath
/nexuse2e-core/.project
/nexuse2e-parent/.settings
/nexuse2e-parent/.project
/nexuse2e-webapp/.classpath
/nexuse2e-webapp/.project
/nexuse2e-webapp/.settings
/nexuse2e-core/.classpath
.idea