body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: white;
	margin: 0px;
	padding: 10px;
	color: #828385;
	font-size: 12px;
	line-height: 21px;
	text-align: left;
	background: url(../images/bg_stripes.gif) left center repeat;
}

DIV {
	text-align: left
}

A, A:visited, A:active {
  	color: #636163;
	text-decoration: none;
	border-bottom: 1px dotted #636163;
}

A:hover {
  	color: #EA5A00;
	text-decoration: none;
	border-bottom: 1px dotted #EA5A00;
}

a.nav, a.nav:visited, a.nav:active, a.nav:hover {
	border-bottom: none;
	text-decoration: none;
	margin: 0px;
}

p {
	margin-top: 0px;
	margin-bottom: 0px;
}

b {
	color: #737173;
}

ul {
	list-style-type: none;
	padding-left: 0px;
	margin-left: 0;
	margin-top: 0px;
	margin-bottom: 0px;
}

li {
	line-height: 21px;
	padding-left: 12px;
	margin-top: 0px;
	margin-bottom: 0px;
	background: url(img/bullet.gif) 2px center no-repeat;
}

.Headline {
	color: #FFBC02;
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
	text-align: left;
}

.Subheadline {
	color: #FFBC02;
	font-weight: bold;
	font-size: 12px;
	line-height: 16px;
	margin-bottom: 0px;
	margin-top: 0px;
}

.Text {
	color: #636163;
	font-size: 11px;
	line-height: 22px;
}

.BigText {
	font-weight: bold;
	color: #828385;
	font-size: 18px;
	line-height: 24px;
	text-align: left;
}

.UnderlinedText {
	color: #828385;
	font-weight: bold;
	font-size: 12px;
	line-height: 20px;
	text-align: left;
	border-bottom: 1px solid #828385;
}

.SmallText {
	color: #828385;
	font-size: 10px;
	line-height: 14px;
	text-align: right;
}

#headline {
	color: #828385;
	font-weight: bold;
	font-size: 10px;
	line-height: 14px;
	text-align: left;
}

#descriptiontext {
	font-family: Arial, Helvetica, sans-serif;
	color: #231F20;
	font-size: 11px;
	line-height: 14px;
	text-align: left;
}

.Bild_Text {
	color: #828385;
	font-size: 9.5px;
	line-height: 14px;
	text-align: right;
}

.Coloured_Text {
	color: #918836;
	font-size: 12px;
	line-height: 16px;
	text-align: left;
}

#extra {
	position:absolute;
	width:750px;
	height:600px;
	z-index:1;
	left: 25px;
	top: 25px;
	visibility: hidden;
}
